<link type="text/css" rel="stylesheet" href="./messageboard.styles.css"/>

<div id="messageboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"> Row1</div>
        </div> 
        <div class="row">
            <div class="col-md-3"> Row2</div>
        </div> 
        <div class="row">
            <div class="col-md-3"> Row3</div>
        </div> 
        <div class="row">
            <div class="col-md-3"> Row4</div>
        </div>
        <div class="row">
            <div class="col-md-3"> Row5</div>
        </div> 
    </div>
</div>