<link type="text/css" rel="stylesheet" href="./sidebanner.styles.css"/>

<div id="sidebanner">
    <h1>{{ mainHeading }} </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6"> R1Col1 </div>
    <div class="col-md-6"> R1Col2 </div>
   </div>
   <div class="row">
    <div class="col-md-6"> R2Col1 </div>
    <div class="col-md-6"> R2Col2 </div>
   </div>
   <div class="row">
    <div class="col-md-6"> R3Co1 </div>
    <div class="col-md-6"> R3Co2 </div>
   </div>
   <div class="row">
    <div class="col-md-6"> R4Co1 </div>
    <div class="col-md-6"> R4Co1 </div>
   </div>
    <div class="row">
    <div class="col-md-6"> R5Co1 </div>
    <div class="col-md-6"> R5Co1 </div>
   </div>
</div>