<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[0]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[1]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[2]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[3]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[4]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[5]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[6]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[7]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[8]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[9]" (click)="onSelectGroup($event)"> </alarmgroup></div>
        <div class="col-md-1"><alarmgroup [alarmGroupName] = "alarmGroups[10]" (click)="onSelectGroup($event)"> </alarmgroup></div>      
    </div>  
</div>




