<link type="text/css" rel="stylesheet" href="./bottombanner.styles.css"/>

<div>
    <!--Container area-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"><messageboard>Messageboard</messageboard></div>
            <div class="col-md-1"><img src="app/VIEW/Templates/Resources/home.svg" alt="alarmPic"></div>
            <div class="col-md-1"><img src="app/VIEW/Templates/Resources/eye-circle.svg" alt="alarmPic"></div>
            <div class="col-md-1"><img src="app/VIEW/Templates/Resources/action-download.svg" alt="alarmPic"></div>
            <div class="col-md-1"><img src="app/VIEW/Templates/Resources/monitors-computers-back-to-back.svg" alt="alarmPic"></div>
            <div class="col-md-1"><img src="app/VIEW/Templates/Resources/share.svg" alt="alarmPic"></div>
            <div class="col-md-1"><img src="app/VIEW/Templates/Resources/cog-settings-alt.svg" alt="alarmPic"></div>
        </div>  
    </div>
</div>
